@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");


.side-navigation {
    height: 100vh;
    background-color: var(--side-navigation-background-color);
    box-shadow: 0 4px 4px var(--box-shadow-color);
    max-width: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 0;
    transition: all 0.2s ease;
}

.side-navigation:hover {
    max-width: 206px;
}

.side-navigation:hover .navigation .menu-item span {
    display: block;
}

.side-navigation:hover .divider {
    width: 128px;
}

.side-navigation .logo {
    width: 84px;
    height: 34px;
    margin-bottom: 24px;
}

.side-navigation .logo img {
    display: block;
    margin: auto;
}

.side-navigation .divider {
    width: 62px;
    height: 2px;
    margin-bottom: 32px;
    background-color: var(--menu-item-color);
    transition: all 0.2s ease;
}

.side-navigation .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 11px;
    width: 100%;
}

.side-navigation .navigation .menu-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--menu-item-color);
    width: 100%;
    padding: 16px 44px 16px 32px;
    border-radius: 25px 0 0 25px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    transition: all 0.3s ease;
}

.side-navigation .navigation .menu-item span {
    display: none;
}

.side-navigation .navigation .menu-item.active, .side-navigation .navigation .menu-item:hover {
    background-color: var(--white-color);
    color: var(--active-menu-item-color);
}

.side-navigation .navigation .menu-item img {
    margin-right: 19px;
    height: 25px;
    width: auto;
}
.footer .line {
width: 346px;
background-color:#02577A ;
height: 1px;
margin-left: auto;
margin-right: auto;
}
.side-navigation .navigation .menu-item:last-child  {
    left: -8px;
    position: relative;
}
.footer p {
    text-align: center;
}
main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: auto;

}

.container-first{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: left;
    margin-top: 56px;
    margin-bottom: 23px;
}
h2{
    Width: 341px;
    Height: 80px;
    margin-left: 106px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
}
.data{
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;
    width: 516px;
    height: 147px;
    border-radius: 25px;
    background: #FFFFFF;
    padding: 22px 96px 22px 96px;
    
}

.container-second{
    background-color: rgba(237, 236, 243, 0.46);
}
.time{
    display: block;
    font-style: normal;
    font-weight: 500;
   font-size: 36px;
    line-height: 44px;
color: #02577A;
}
.calendar{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
}
.after-img{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
border: 2px solid #02577A;
border-radius: 25px;
padding: 50px;
width: 896px;
}
.container-second > img
{
    width: 100%;
    /* left: 97.06px; */
    /* top: 238.5px; */
    object-fit: cover;
    height: 269px;
}
.container-third{
    display: flex;
    justify-content: center;
    text-align: center;
}
/* calendar page */

main .container{
    display: grid;
}
main .container{
    
    display: grid;
    grid-template-columns: 2fr 2.5fr 5px;
    gap: 5px 10px;
    grid-template-areas: 
    'progress-bar1 calendar'
    'progress-bar2 calendar'
    'progress-bar3 calendar';
}
.progress-bars{
    margin-left: 30px;
}
main .container .progress-bars .progress-bar1{
    grid-area:progress-bar1 ;
    width: 100%;
    height: 159px;
    left: 157px;
    top: 60px;
    background: #FFFFFF;
    border-radius: 25px;
}
main .container .progress-bars .progress-bar2{
    grid-area:progress-bar2 ;
    width: 100%;
    height: 159px;
    left: 157px;
    top: 60px;
    background: #FFFFFF;
    border-radius: 25px;
}
main .container .progress-bars .progress-bar3{
    grid-area:progress-bar3 ;
    width: 100%;
    height: 159px;
    left: 157px;
    top: 60px;
    background: #FFFFFF;
    border-radius: 25px;
}
main .container .calendar{
    grid-area:calendar ;
}
/* Progressbars */
.title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    padding-left: 20px;
    padding-top: 10px
}
.description{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-left: 25px;
    color: #C4C4C4;
}
.progress-bar1 .progressBar{
    width: 188px;
    height: 20px;
    left: 199px;
    top: 175px;
    background: red;
    border-radius: 25px;
    margin-left: 25px;
}
.progress-bar2 .progressBar{
    width: 188px;
    height: 20px;
    left: 199px;
    top: 175px;
    background: #FC0;
    border-radius: 25px;
    margin-left: 25px;
}
.progress-bar3 .progressBar{
    width: 188px;
    height: 20px;
    left: 199px;
    top: 175px;
    background: greenyellow;
    border-radius: 25px;
    margin-left: 25px;
}

ul {list-style-type: none;}

/* calendorius */
.calendar{
    width: 670px;
    height: auto;
    background: #FFFFFF;
    border-radius: 25px;
    margin-top: 20px;
}
.month {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0 10px 0;
}
.month i{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
}
.month h1{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}
  .today {
    background-color: #02577A;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
.weekdays{
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
    margin: auto;
    width: 90%;
    padding: 10px;
    gap: 45px;
}
.weekdays div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C4C4;
}
.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;

}
.days div{
    font-size: 16px;
    margin: 0;
    width: calc(100% / 7);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-date,
.next-date {
  opacity: 0.5;
}
.fa-angle-left:before {
    content: "\f104";
    margin-right: 20px;
}
.fa-angle-right:before {
    content: "\f104";
    margin-left: 20px;
}


@media (max-width: 1060px)
{.container-first{
    flex-direction: column-reverse;
    }
    .data{
        margin-left: 50px;
        width: calc(100% - 100px);
    }
}

@media (max-width: 769px)
{
    
}

@media (max-width: 481px)
{
    
}

