.side-navigation {
    height: 100vh;
    background-color: var(--side-navigation-background-color);
    box-shadow: 0 4px 4px var(--box-shadow-color);
    max-width: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 0;
    transition: all 0.2s ease;
}

.side-navigation:hover {
    max-width: 206px;
}

.side-navigation:hover .navigation .menu-item span {
    display: block;
}

.side-navigation:hover .divider {
    width: 128px;
}

.side-navigation .logo {
    width: 84px;
    height: 34px;
    margin-bottom: 24px;
}

.side-navigation .logo img {
    display: block;
    margin: auto;
}

.side-navigation .divider {
    width: 62px;
    height: 2px;
    margin-bottom: 32px;
    background-color: var(--menu-item-color);
    transition: all 0.2s ease;
}

.side-navigation .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 11px;
    width: 100%;
}

.side-navigation .navigation .menu-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--menu-item-color);
    width: 100%;
    padding: 16px 44px 16px 32px;
    border-radius: 25px 0 0 25px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    transition: all 0.3s ease;
}

.side-navigation .navigation .menu-item span {
    display: none;
}

.side-navigation .navigation .menu-item.active, .side-navigation .navigation .menu-item:hover {
    background-color: var(--white-color);
    color: var(--active-menu-item-color);
}

.side-navigation .navigation .menu-item img {
    margin-right: 19px;
    height: 25px;
    width: auto;
}
.footer {
    
}
.footer .line {
width: 346px;
background-color:#02577A ;
height: 1px;
margin-left: auto;
margin-right: auto;
}

.side-navigation .navigation .menu-item:last-child  {
    left: -8px;
    position: relative;
}
.footer p {
    text-align: center;
}
main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: auto;

}

.container-first{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: left;
    margin-top: 56px;
    margin-bottom: 23px;
}
h2{
    Width: 341px;
    Height: 80px;
    margin-left: 106px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
}
.data{
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;
    width: 516px;
    height: 147px;
    border-radius: 25px;
    background: #FFFFFF;
    padding: 22px 96px 22px 96px;
    
}

.container-second{
    background-color: rgba(237, 236, 243, 0.46);
}
.time{
    display: block;
    font-style: normal;
    font-weight: 500;
   font-size: 36px;
    line-height: 44px;
color: #02577A;
}
.calendar{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 50px;
}
.after-img{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
border: 2px solid #02577A;
border-radius: 25px;
padding: 50px;
width: 896px;
}
.container-second > img
{
    width: 100%;
left: 97.06px;
top: 226.5px
}
.container-third{
    display: flex;
    justify-content: center;
    text-align: center;
}




@media (max-width: 1060px)
{.container-first{
    flex-direction: column-reverse;
    }
    .data{
        margin-left: 50px;
        width: calc(100% - 100px);
    }
}

@media (max-width: 769px)
{
    
}

@media (max-width: 481px)
{
    
}

